name: Build-Test-Deploy

on:
  push:
    branches: [main]

env:
  PYTHON_VERSION: '3.x'
  DOCKER_IMAGE: 'rick_and_morty_api'
  DOCKER_TAG: 'latest'

jobs:
  # CI: build and test
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python -m unittest discover
  

  # CD: deploy to Minikube using Helm
  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Minikube
      run: |
        curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
        chmod +x minikube
        sudo mv minikube /usr/local/bin/
        minikube start --driver=docker
        eval $(minikube docker-env)

    - name: Build Docker image for Minikube
      run: |
        docker build -t ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }} .

    - name: Install Helm
      run: |
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

    - name: Deploy to Minikube
      run: |
        helm upgrade --install rick-and-morty-release ./rick-and-morty-chart \
          --set image.repository=${{ env.DOCKER_IMAGE }} \
          --set image.tag=${{ env.DOCKER_TAG }}

    - name: Verify Deployment
      run: |
        kubectl get pods
        kubectl get services
